*{
    margin:0;
    padding: 0;
    outline: 0;
    box-sizing: 0 auto;
}

body{ 
    font-family: monospace;
}

.container{
    width: 100%;
    max-width: 1024px;
    margin: 0 auto ;
}

header{
 background-color: rgb(28,33,82); 
 color: white;
 height: 146px;
 border: 2px solid black;
 margin: 50px, 20px;
 padding: 40px;
 font-size: 25px;
 text-align: center;
 word-spacing: 5px;
 background-image: url(../img/slogan\ 1.svg), url(../img/carrinho\ 1.svg), url(../img/menu\ 1.svg);
 background-repeat: no-repeat, no-repeat, no-repeat ;
 background-position: top left, bottom 50px right 150px, bottom 50px right 50px;
}

nav ul{ 

    display: flex;
    flex-direction: row;
    font-size: 18px;
}

nav ul li {

    list-style-type:none;
    color: black;
    border: 2px solid black;
    height: 22px ;
    padding: 20px ;
    width: 50px;
    margin-left: 18%;
    margin-top: 2% ;
    margin-bottom: 2% ;

}

nav ul li:hover{
    background-color:lightskyblue;
    cursor: pointer;
}


nav picture{ 

    background-image: url("../img/exemplo\ 1.svg");
    background-repeat: no-repeat;
    background-position: center;
    height: 500px;
    width: 80px;
    margin-left: auto;
    margin-right: auto;
    border: 2px solid black;
        
}

footer{

    border: 5px solid black;
    display: flex;
    flex-direction: row;
    justify-content:center;
    align-items: center;

}


footer h6{
   
   color: black;
   text-align: left;
   height: 15px ;
   padding: 20px ;
   width: 30px;
   
}

footer picture{
   width: 20%;

}
    


