*{
    margin:0;
    padding: 0;
    outline: 0;
    box-sizing: 0 auto;
}


body{ 
    font-family: monospace;
}

.container{
    width: 100%;
    max-width: 1024px;
    margin: 0 auto ;
}

header{
 background-color: rgb(28,33,82); 
 color: white;
 height: 146px;
 border: 2px solid black;
 margin: 50px, 20px, 10px;
 padding: 40px;
 font-size: 20px;
 text-align: center;
 word-spacing: 5px;
 background-image: url(../img/slogan\ 1.svg), url(../img/carrinho\ 1.svg), url(../img/menu\ 1.svg);
 background-repeat: no-repeat, no-repeat, no-repeat ;
 background-position: top left, bottom 50px right 150px, bottom 50px right 50px;

}

nav ul{ 

    display: flex;
    flex-direction: row;
    font-size: 18px;

}

nav ul li{

    list-style-type:none;
    color: black;
    border: 2px solid black;
    height: 20px ;
    padding: 20px ;
    width: 85px;
    margin-left: 40%;
    margin-top: 2%;
    text-align: center;

}

nav ul li:hover{
    background-color:lightskyblue;
    cursor: pointer;
}

main picture{
    
    display: inline-block;
    background-image: url(../img/1\ nova.svg), url(../img/2\ nova.svg);
    background-repeat: no-repeat, no-repeat;
    background-position: center, center;
    padding: 20px;
    margin-left: 10%;
    
}

main h5{

    display: inline-flex;
    color: black;
    text-align: center;
    height: 15px ;
    padding: 20px ;
    width: 30px;

}


main h2{

display:inline-block;
color: black;
text-align: center;
margin-left: 40%;
height: 20px ;
padding: 20px ;
width: 20px;

}

footer{

    border: 5px solid black;
    display: flex;
    flex-direction: row;
    justify-content:center;
    align-items: center;

}

footer h6{
   
   color: black;
   text-align: left;
   height: 15px ;
   padding: 20px ;
   width: 30px;
   
}

footer picture{
   width: 20%;

}


